{% extends 'base.html.twig' %}

{% block content %}

    <h1>Добавить ресторан</h1>
    <br>
    <br>
    <div class="form">
        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Создать</button>

        {{ form_end(form) }}
    </div>
{% endblock %}

{% block title %}
Create Restaurant
{% endblock %}

